*{margin: 0;
padding: 0;
box-sizing: border-box;}

img{vertical-align: middle;
height: 95px;
width: 75px;
padding-left: 10px;
padding-top: 30px;}

h1{vertical-align: middle;
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
padding-left: 5px;
padding-top: 30px;}

header{background-color: white;
height: 120px;}

body{background-color: rgb(244, 244, 244);}